    .impact {
        background-color: white;
        /*    height: 450vh;*/
        padding-top: 200px;
        background-image: linear-gradient(rgba(255, 228, 109, 0.6), rgba(255, 228, 109, 0.6)), url("http://cdn3.i-scmp.com/sites/default/files/styles/2000x792/public/2016/11/03/lee_01oct16_fe_chin_44_vincent-chin-protest_1_hero.jpg?itok=u90NNhmi");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        padding-bottom: 70vh;
    }

    .impact div div {
        margin: 50vh 220px;
    }

    .impact p {
        font-family: 'Teko', sans-serif;
        text-align: center;
        font-size: 6vw;
    }
