/* Mobile screens */

@media only screen and (min-width: 320px) and (max-width: 991px) {
    #history {
        padding: 0px;
    }
}


/* Small screens */

@media only screen and (min-width: 1024px) {
    /* Summary sections for the historical timeline events. */
    .history_summary {
        /* Width of the text box (relation to width of screen) */
        width: 70%;
        /* Indent from top and bottom */
        padding: 60px 0px 0px 60px !important;
    }
    .history_summary p {
        font-size: 18px;
    }
    .history_summary p,
    .history_summary p span {
        /* Line height adjusted to be even for differently sized text */
        line-height: 30px;
    }
    .history_timeline {
        margin: 100px 0px;
        height: 50vh;
    }
    #now h2 {
        position: absolute;
        top: -180px;
        font-size: 64px;
        right: 20px;
    }
    .support_profile {
        padding: 35px;
    }
    /* Highlighted text is changed. */
    /* Currently: bliack highlighted with red. */
     ::-moz-selection {
        color: white;
        background: #ff4d3b;
        /*
        color: black;
        background: #ffd000;
*/
    }
     ::selection {
        color: white;
        background: #ff4d3b;
        /*
        color: black;
        background: #ffd000;
*/
    }
}

@media only screen and (min-width: 1224px) {
    .history_summary {
        width: 70%;
        padding: 80px 0px 0px 140px !important;
    }
    .history_summary p {
        font-size: 24px;
    }
    .history_summary p,
    .history_summary p span {
        /* Line height adjusted to be even for differently sized text */
        line-height: 36px;
    }
    .history_timeline {
        height: 70vh;
    }
    .support_profile {
        padding: 50px;
    }
}


/* parallax */


/* all layers */

.parallax-bg div {
    display: flex;
    justify-content: center;
    /*    align-items: center;*/
}

div#parallax-bg-3 div div,
div#parallax-bg-2 div div,
div#parallax-bg-1 div div {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    overflow: hidden;
    height: 400vh;
}

div#parallax-bg-3,
div#parallax-bg-2,
div#parallax-bg-1 {
    position: relative;
    width: 100%;
}

div#bg-3-1,
div#bg-2-1,
div#bg-1-1 {
    background: url("../img/white_guy.png");
    background-size: contain;
}

div#bg-3-1,
div#bg-2-1 {
    width: 15%;
}

div#bg-1-1 {
    width: 20%;
}


/* background*/

div#parallax-bg-1 {
    z-index: 503;
}

div#parallax-bg-1 div:nth-child(2) {
    top: 50vh;
    left: 10vw;
}

div#parallax-bg-1 div:nth-child(3) {
    top: -50vh;
}


/*middle layer*/

div#parallax-bg-2 {
    z-index: 502;
}

div#parallax-bg-2 div:nth-child(2) {
    top: 50vh;
}

div#parallax-bg-2 div:nth-child(3) {
    top: -25vh;
}

div#parallax-bg-2 div:nth-child(4) {
    top: 25vh;
}


/* foreground */

div#parallax-bg-3 {
    z-index: 501;
}

div#parallax-bg-3 div:nth-child(2) {
    top: 100vh;
}

div#parallax-bg-3 div:nth-child(3) {
    top: 75vh;
}

div#parallax-bg-3 div:nth-child(4) {
    top: 50vh;
}

div#parallax-bg-3 div:nth-child(5) {
    top: 100vh;
}

div#parallax-bg-3 div:nth-child(6) {
    top: 50vh;
}


/*****************************************/

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
    list-style: none;
}


/*** Meklit ***/

.nav {
    position: relative;
    width: 10em;
}

.nav__item {
    line-height: 1.2;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    color: currentColor;
    border: 0;
    background: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav__item:focus {
    outline: none;
}

#Meklit {
    position: fixed;
    z-index: 50;
}

.nav--meklit {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-content: stretch;
    align-content: stretch;
    height: 100vh;
    margin: 0;
}

.nav--meklit .nav__item {
    -webkit-flex: 1;
    flex: 1;
    width: 10em;
    height: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.nav--meklit .nav__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: #141417;
    -webkit-transform: scale3d(0.15, 1, 1);
    transform: scale3d(0.15, 1, 1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.nav--meklit .nav__item:nth-child(odd)::before {
    background: #0a0a0c;
}

.nav--meklit .nav__item:hover::before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}


/*new*/

.nav--meklit .nav__item:hover .nav__item-title span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/**/

.section#Meklit .nav--meklit .nav__item--current::before {
    background: #ff4d3b;
    color: black;
}

.nav--meklit a {
    height: 20%;
    text-decoration: none;
    color: white;
}

.nav--meklit .nav__item-title {
    font-size: 2em;
    font-weight: bold;
    display: block;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    pointer-events: none;
    /*
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg);
*/
}

.nav--meklit .nav__item-title span {
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    display: block;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.section#Meklit {
    background: #27272b;
    color: #ff4d3b;
    min-height: 510px;
}

#nav4 {
    display: inline-block;
}


/* Move it (define the animation) */

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        /* Browser bug fix */
        -webkit-transform: translateX(100%);
        /* Browser bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        /* Browser bug fix */
        -webkit-transform: translateX(-100%);
        /* Browser bug fix */
        transform: translateX(-100%);
    }
}

.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

h2 {
    font-family: 'Teko', sans-serif;
    font-size: 48px;
}

h3:not(div#quotes h3) {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.container-fluid {
    padding: 0px;
    overflow: hidden;
}

.container-fluid.falling {
    background-color: black;
}

.row {
    margin: 0px;
}

.section {
    position: relative;
}

.section .highlight {
    background-color: #FFD000;
}

#history,
#now,
#support {
    padding: 50px;
}


/* HEADER */

.header {
    color: black;
    overflow: hidden;
    height: 100vh;
}

.header_bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(rgba(255, 208, 0, 0.6), rgba(255, 208, 0, 0.6)), url(../img/protest.jpg);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 125%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    /*    clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.header_text {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 2.5s;
    -moz-animation: fadeIn 2.5s;
    -webkit-animation: fadeIn 2.5s;
    -o-animation: fadeIn 2.5s;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
}

.header_text h1 {
    margin: 0px;
    font-size: 9.5vw;
}


/* "The Asian-American Fight for Cultural Citizenship" */

#title_container {
    height: 300vh;
}

#title {
    background-color: #FFD000;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title div {
    font-family: 'Teko', sans-serif;
    width: 100%;
    text-align: center;
    margin: 0px;
    color: black;
    padding: 0px;
}


/*
.title_box1 controls "The"
.title_box1 controls "Asian-American"
.title_box1 controls "Fight for Cultural Citizenship"
*/

.title_box1,
.title_box2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_box2 h2 {
    text-transform: uppercase;
    color: #FFD000;
}

.title_box3 {
    background-color: #FFD000;
}


/* Small screens */

@media only screen and (min-width: 1024px) {
    /*
.title_box1 controls "The"
.title_box1 controls "Asian-American"
.title_box1 controls "Fight for Cultural Citizenship"
*/
    .title_box1 h2,
    .title_box3 h2 {
        font-size: 96px;
    }
    .title_box2 {
        background-color: black;
        height: 300px;
    }
    .title_box2 h2 {
        font-size: 160px;
    }
    .title_box3 {
        height: 320px;
    }
}


/* Medium screens */

@media only screen and (min-width: 1224px) {
    .title_box2 h2 {
        font-size: 180px;
    }
}

@media only screen and (min-width: 1440px) {
    .title_box2 h2 {
        font-size: 200px;
    }
}


/* Large screens */

@media only screen and (min-width: 1824px) {}


/*
.svg_attempt {
    height: 3000px;
    overflow: hidden;
}

svg {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    max-width: 480px;
    max-height: 340px;
}

.path {
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
}
*/

.video_box {
    overflow: hidden;
    height: 100vh;
}

.video_box iframe {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.impact {
    background-color: white;
    /*    height: 450vh;*/
    padding-top: 200px;
    background-image: linear-gradient(rgba(255, 228, 109, 0.6), rgba(255, 228, 109, 0.6)), url("http://cdn3.i-scmp.com/sites/default/files/styles/2000x792/public/2016/11/03/lee_01oct16_fe_chin_44_vincent-chin-protest_1_hero.jpg?itok=u90NNhmi");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 70vh;
}

.impact div div {
    margin: 50vh 220px;
}

.impact p {
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size: 6vw;
}


/*
.impact div div:nth-child(5) {
    background-color: black;
}

.impact div div:nth-child(5) p {
    font-size: 25vw;
    background-image: linear-gradient(rgba(255, 228, 109, 0.6), rgba(255, 228, 109, 0.6)), url("http://cdn3.i-scmp.com/sites/default/files/styles/2000x792/public/2016/11/03/lee_01oct16_fe_chin_44_vincent-chin-protest_1_hero.jpg?itok=u90NNhmi");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
*/

.footer {
    background-color: #FFD000;
    height: 200px;
}

.footer a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.credit {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credit p {
    text-align: center;
}

.backtotop {
    height: 40px;
    bottom: 0;
    position: absolute;
}

.top {
    background-color: black;
    color: white;
    width: 20%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Large screens */

@media only screen and (min-width: 1824px) {
    .title_box1 h2,
    .title_box3 h2 {
        font-size: 5vw;
    }
    .title_box2 {
        height: 300px;
    }
    .title_box2 h2 {
        font-size: 9vw;
    }
    /* history */
    .history_summary {
        width: 50%;
    }
    .history_summary p {
        font-size: 32px;
    }
    .history_summary span {
        font-size: 58px;
    }
    /* timeline2 */
    .timeline2 img:nth-child(1) {
        right: 25vw;
    }
    .timeline2 img:nth-child(2) {
        left: 25vw;
    }
    .timeline3 {
        height: 80vh;
    }
    .timeline3 img:nth-child(3) {
        right: 20vw;
        top: 15vh;
    }
    .timeline3 h5:nth-child(6) {
        right: 20vw;
        top: 10vh;
    }
    /* stereotype */
    .stereotype .info {
        padding: 90px;
    }
    .stereotype .info h4 {
        font-size: 3.5vw;
    }
    .stereotype .info p {
        font-size: 22px;
    }
    .fact div {
        max-width: 70%;
    }
    .support_profile .col-sm-8 {
        padding-left: 7%;
        padding-right: 7%;
    }
    .support_profile p {
        font-size: 24px;
    }
}
